<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <sc.variable name="identityServerAuthority" value="https://sc93identityserver.dev.local" />

    <settings>
      <!-- Below settings describes your Azure AD settings -->
      <!-- you need to replace below client id with your azure application ID that we preserved from step 5 of Azure AD configuration -->
      <setting name="ClientId" value="{YOUR CLIENT ID}" />
      <setting name="AADInstance" value="https://login.microsoftonline.com/{0}" />
      <!-- you need to replace below Tenant with your azure AD domain which we created from step 2 of Azure AD configuration -->
      <setting name="Tenant" value="{YOUR TENANT}" />
      <!-- your Sitecore instance login url-->
      <setting name="PostLogoutRedirectURI" value="https://sc93sc.dev.local/sitecore/logout" />
      <!-- your Sitecore instance Url-->
      <setting name="RedirectURI" value="https://sc93sc.dev.local/sitecore" />
    </settings>

    <services>
    </services>

    <pipelines>
      <owin.identityProviders>
        <processor type="AzureAdProviderApp.Pipelines.AzureAd.AzureADIdentityProviderProcessor, AzureAdProviderApp" resolve="true" />
      </owin.identityProviders>
      <!--<owin.initialize>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.Initialize.InterceptLegacyShellLoginPage, Sitecore.Owin.Authentication.IdentityServer" patch:before="processor[@method='Authenticate']" resolve="true">
          <legacyShellLoginPage>/sitecore/login</legacyShellLoginPage>
        </processor>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.Initialize.JwtBearerAuthentication, Sitecore.Owin.Authentication.IdentityServer" patch:before="processor[@method='Authenticate']" resolve="true">
          <identityProviderName>SitecoreIdentityServer</identityProviderName>
          <audiences hint="raw:AddAudience">
            <audience value="$(identityServerAuthority)/resources" />
          </audiences>
          <issuers hint="list">
            <issuer>$(identityServerAuthority)</issuer>
          </issuers>
        </processor>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.Initialize.LogoutEndpoint, Sitecore.Owin.Authentication.IdentityServer" resolve="true" patch:before="processor[@method='Authenticate']" />
      </owin.initialize>-->
    </pipelines>

    <federatedAuthentication>
      <identityProvidersPerSites>
        <mapEntry name="all sites">
		  
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAd']" id="SitecoreAzureAdServer" />
          </identityProviders>
		   <externalUserBuilder type="AzureAdProviderApp.Helpers.UserBuilder, AzureAdProviderApp" resolve="true">
			<param desc="isPersistentUser">true</param>
		  </externalUserBuilder>
        </mapEntry>
		
		
        <!-- An example that maps a sub-provider of the Identity Server to the sites that are not mapped to the SitecoreIdentityServer. -->
        <!--
        <mapEntry name="all sites">
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='SitecoreIdentityServer/IdS4-AzureAd']" />
          </identityProviders>
        </mapEntry>
        -->
      </identityProvidersPerSites>
	  
	  

      <identityProviders>
        <identityProvider id="AzureAd" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
              <param desc="name">$(id)</param>
              <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
              <caption>Sign-in with Azure Active Directory</caption>
			  <domain>sitecore</domain>
			  <icon>/sitecore/shell/themes/standard/Custom/24x24/msazure.png</icon>
              <enabled>true</enabled>
              <transformations hint="list:AddTransformation">
                <!-- you need to have and Idp Claim for this to work-->
                <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />

                <transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
				  <sources hint="raw:AddSource">
					<claim name="groups" value="2ea20d7b-4cd3-4a36-b760-39208ef50290" />
				  </sources>
				  <targets hint="raw:AddTarget">
					<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Admin" />
				  </targets>
				  <keepSource>true</keepSource>
				</transformation>
              </transformations>
          </identityProvider>
      </identityProviders>

	  
	  
	  <!-- Property initializer assigns claim values to sitecore user properties -->
      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
        <patch:attribute name="type">AzureAdProviderApp.Helpers.UserPropertyInitializer, AzureAdProviderApp</patch:attribute>
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" />
              <!--property name-->
              <target name="Email" />
            </data>
          </map>
          <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="name" />
              <!--property name-->
              <target name="Fullname" />
            </data>
          </map>
          <map name="Other claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" />
              <!--property name-->
              <target name="Comment" />
            </data>
          </map>
        </maps>
      </propertyInitializer>

    </federatedAuthentication>
  </sitecore>
</configuration>
